*{
    background-color: #b0e0e6;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.container {
    text-align: center;
}
  
.input-group {
    margin-bottom: 30px;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
}

img {
    max-width: 100%;
    height: auto;
  }  

@media (max-width: 768px) {
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  input[type="number"] {
    width: 30px; /* Puedes ajustar el valor según tus necesidades */
  }
}
